<ion-view view-title="Emergency-Contact">
	<ion-content>
    
    	<div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Date Of Birth</span>
                    <input type="Date" placeholder="MM/DD/YYYY">
                </label>
                <h5 class="border-top"><i class="icon ion-edit"></i> Emergency Contact</h5>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Contact Number</span>
                    <input type="tel" placeholder="Contact Number">
                </label>
                <br />
                <div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    I read the terms &amp; conditions.
                </div>
                <div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Haha, you liar. There are no T&amp;Cs.
                </div>
                <br />
                <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">
                        Tap Me
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">
                        Or Tap Me
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio">
                    <input type="radio" name="group">
                    <div class="item-content">
                        Or Tap Me
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <div class="item range range-positive">
                    <i class="icon ion-ios-sunny-outline"></i>
                    <input type="range" name="volume" min="0" max="100" value="33">
                    <i class="icon ion-ios-sunny"></i>
                </div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Most Influential Teletubby
                    </div>
                    <select>
                        <option>Laa-Laa</option>
                        <option selected>Tinky Winky</option>
                        <option>Dipsy</option>
                        <option>Po</option>
                        <option>Noo-noo</option>
                    </select>
                </label>
                <button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1">
                    Submit
                </button>
            </div>
    	
    </ion-content>
    <div class="bar bar-footer">
    <div class="title">
	    <button style="width:100%;height: 100%;" class="buttons button-block">
	               Get Started
	    </button>
    </div>
    </div>
</ion-view>
